@import "tailwindcss";

html {
  background-color: rgb(32, 32, 32);
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #080808;
}

::-webkit-scrollbar-thumb {
  background: #1a1a1a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #252525;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}